version: '3.9'

services:

    zookeeper:
        build:
            context: .
            dockerfile: build/Dockerfile
        image: custom-zookeeper:3.7
        container_name: zookeeper
        cpus: 0.1
        mem_limit: 512m
        network_mode: host
        restart: always
        volumes:
            - zk_data:/data
            - zk_logs:/datalog
        healthcheck:
            test: ["CMD-SHELL", "echo ruok | nc ${CH_HOST} 2181 | grep imok"]
            interval: 30s
            timeout: 10s
            retries: 5

    clickhouse-01:
        image: clickhouse:24.8
        container_name: clickhouse-01
        cpus: 0.9
        mem_limit: 1.8g
        network_mode: host
        restart: always
        volumes:
            - ch01_data:/var/lib/clickhouse
            - ch01_logs:/var/log/clickhouse-server
            - ./etc/config.d:/etc/clickhouse-server/config.d
            - ./etc/users.d:/etc/clickhouse-server/users.d
            - ./etc/ch01/node.xml:/etc/clickhouse-server/config.d/node.xml
        depends_on:
            zookeeper:
                condition: service_healthy
        healthcheck:
            test: ["CMD-SHELL", "clickhouse-client --port 9000 --query='SELECT 1'"]
            interval: 30s
            timeout: 10s
            retries: 5

    clickhouse-02:
        image: clickhouse:24.8
        container_name: clickhouse-02
        cpus: 0.9
        mem_limit: 1.8g
        network_mode: host
        restart: always
        volumes:
            - ch02_data:/var/lib/clickhouse
            - ch02_logs:/var/log/clickhouse-server
            - ./etc/config.d:/etc/clickhouse-server/config.d
            - ./etc/users.d:/etc/clickhouse-server/users.d
            - ./etc/ch02/node.xml:/etc/clickhouse-server/config.d/node.xml
        depends_on:
            clickhouse-01:
                condition: service_healthy
        healthcheck:
            test: ["CMD-SHELL", "clickhouse-client --port 19000 --query='SELECT 1'"]
            interval: 30s
            timeout: 10s
            retries: 5

    clickhouse-init-db:
        image: clickhouse:24.8
        container_name: clickhouse-init-db
        network_mode: host
        depends_on:
            clickhouse-02:
                condition: service_healthy
        entrypoint: ["/bin/sh", "-c"]
        command:
            - clickhouse-client --host ${CH_HOST} --port 9000 --query 'CREATE DATABASE IF NOT EXISTS ch_datalake ON CLUSTER ch_cluster ENGINE = Atomic'
        restart: "no"


volumes:

    zk_data:
        driver: local
        driver_opts:
          type: none
          o: bind
          device: /clickhouse/zk/data

    zk_logs:
        driver: local
        driver_opts:
          type: none
          o: bind
          device: /clickhouse/zk/logs

    ch01_data:
        driver: local
        driver_opts:
          type: none
          o: bind
          device: /clickhouse/01/data

    ch01_logs:
        driver: local
        driver_opts:
          type: none
          o: bind
          device: /clickhouse/01/logs

    ch02_data:
        driver: local
        driver_opts:
          type: none
          o: bind
          device: /clickhouse/02/data

    ch02_logs:
        driver: local
        driver_opts:
          type: none
          o: bind
          device: /clickhouse/02/logs
